<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tapahtuma kalenteri</title>
</head>
<body>
<h1>Tapahtumat</h1>
    <form action="/events/create" method="post">
    <label for="eventTitle">Mikä Tapahtuma:</label>
    <input type="text" id="eventTitle" name="tapahtumaNimi" required>

        <label for="place">Missä:</label>
        <input type="text" id="place" name="tapahtumaPaikka" required>

    <label for="start">Milloin alkaa</label>
    <input type="date" id="start" name="mista" required min="2024-12-01" max="2030-12-31" value="2024-12-02">

    <label for="end">Milloin päättyy</label>
    <input type="date" id="end" name="mihin" required min="2024-12-01" max="2030-12-31" value="2025-01-01">

    <button type="submit">Create Event</button>

</form>
<ul>
<li th:each="alkio : ${tapahtuma}">
    <span th:text="${alkio.tapahtumaNimi}"></span>
    <span th:text="${alkio.tapahtumaPaikka}"></span>
    <span th:text="${alkio.mista}"></span>
    <span th:text="${alkio.mihin}"></span>
</li>
</ul>
</body>
</html>

